$browser-default-font-size: 16px !default; //变量的值可以根据自己需求定义
$centerFontColor: #222121;
@function ptr($px) {
  //$px为需要转换的字号
  @return $px / $browser-default-font-size * 1rem;
}
$colors: #55efc4, #81ecec, #74b9ff, #a29bfe, #b2bec3, #ffeaa7, #fab1a0, #ff7675, #fd79a8, #2d3436, #00b894, #00cec9,
  #0984e3, #6c5ce7, #636e72, #fdcb6e, #e17055, #d63031, #e84393, #2d3436;
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: block;
  clear: both;
  width: 0;
  height: 0;
}

html {
  font-size: $browser-default-font-size;
  color: $centerFontColor;
  background-color: #ffffff;
}

.pageBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  .topBox {
    position: fixed;
    z-index: 99;
    width: calc(100% - 20px);
    background-color: #ffffff;
    // box-shadow: 0px 0px 5px #cacaca;
    padding: ptr(20px) ptr(10px) ptr(10px);
    .titleBox {
      color: #cacaca;
      font-weight: bolder;
      font-size: ptr(17px);
      padding: 0 ptr(5px);
      .addTitleCss {
        color: $centerFontColor;
      }
      > div {
        > span {
          display: inline-block;
          margin: 0px ptr(5px);
        }
      }
    }
    .searchBox {
      height: ptr(25px);
      background-color: #f5f1f1;
      line-height: ptr(25px);
      color: grey;
      font-size: ptr(14px);
      margin: ptr(10px) 0 0;
      text-align: center;
      > span {
        margin-left: ptr(5px);
      }
      > i {
        vertical-align: sub;
      }
    }
  }
  .content {
    margin-top: ptr(86px);
    margin-bottom: ptr(50px);
    .carousel {
      padding: ptr(10px) ptr(20px) ptr(5px);
      .am-wingblank {
        border-radius: 5px;
        overflow: hidden;
        margin: 0;
        a {
          height: ptr(135px);
          width: 100%;
          display: inline-block;
          img {
            width: 100%;
            height: 100%;
            vertical-align: top;
          }
        }
      }
    }
    .listRow {
      padding: ptr(10px) ptr(20px) ptr(5px);
      .contentTitle {
        display: flex;
        justify-content: space-between;
        > div {
          font-size: ptr(15px);
          font-weight: bolder;
        }
        > span {
          font-size: ptr(10px);
          color: lightgrey;
        }
      }
      .typeList {
        margin-top: ptr(10px);
        height: ptr(120px); // 也可以不设置高度，让高度自适应内容的变化
        overflow: hidden;
        .inner {
          height: 110%; // 高度实际为 300 * 110% = 330px
          overflow-x: auto;
          white-space: nowrap;
          .musicRow {
            display: inline-block;
            width: ptr(90px);
            height: ptr(90px);
            margin-right: ptr(10px);

            &:last-of-type {
              margin-right: 0;
            }
            > div {
              // border-radius: 10px;
              overflow: hidden;
              position: relative;
              width: ptr(90px);
              height: ptr(90px);
              color: #ffffff;
              > img {
                position: absolute;
                width: 100%;
                height: 100%;
              }
              > i {
                position: absolute;
                bottom: ptr(5px);
                right: ptr(7px);
                // width: ptr(20px);
                // height: ptr(20px);
              }
              // > svg {
              //   width: 100%;
              //   height: 100%;
              // }
            }
            > p {
              margin: ptr(8px) ptr(3px);
              font-weight: bold;
              font-size: ptr(10px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
      .hotPlayList {
        margin-top: ptr(10px);
        height: ptr(130px); // 也可以不设置高度，让高度自适应内容的变化
        overflow: hidden;
        .inner {
          height: 110%; // 高度实际为 300 * 110% = 330px
          overflow-x: auto;
          white-space: nowrap;

          .hotPlayRow {
            display: inline-block;
            width: ptr(90px);
            height: ptr(90px);
            margin-right: ptr(10px);
            padding: ptr(15px);
            color: #ffffff;
            border-radius: 10px;
            overflow: hidden;
            &:last-child {
              margin-right: 0;
            }
            > div {
              > p {
                font-size: ptr(16px);
                margin-top: 0;
                font-weight: 700;
                margin-bottom: ptr(40px);
              }
              > div {
                display: flex;
                flex-direction: column;
              }
            }
          }
          @for $i from 1 through 20 {
            .hotPlayRowColor#{$i} {
              background: nth($colors, $i);
              box-shadow: 4px 4px 3px nth($colors, $i);
            }
          }
        }
      }
    }
  }
}

.PlayerBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: ptr(50px);
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
  .playerProgress {
  }
  .playerOperate {
    width: 100%;
    height: calc(100% - 1px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    .nowPlayInfo {
      display: flex;
      align-items: center;
      margin-left: ptr(10px);
      .nowPlayInfoImg {
        width: ptr(36px);
        height: ptr(36px);
        border-radius: 50%;
        overflow: hidden;
        margin-right: ptr(10px);
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .nowPlayInfoTitle {
        display: flex;
        flex-direction: column;
        > span {
          &:first-child {
            font-size: 13px;
            margin-bottom: ptr(5px);
          }
          &:last-child {
            font-size: 10px;
            color: #686868;
          }
        }
      }
    }
    .nowPlayOption {
      margin-right: ptr(12px);
      display: flex;
      align-items: center;
      > i {
        > svg {
          width: 18px;
          height: 18px;
        }
        &:first-child {
          margin-right: ptr(15px);
        }
      }
    }
  }
}
