body {
  padding: 50px;
  font-family: sans-serif;

}

.todoListMain {
  width: 500px;
  margin: auto;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  >p{
    font-size: 24px;
    color: darkgrey;
  }
  >.todoStatus{
    color: grey;
    font-size: 14px;
    text-align: right;
  }

}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;

}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;

}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;

}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 400px;
  margin:20px auto;

}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  text-align: left;
}

.todoListMain .theList li > span {
  clear: both;
}

.todoListMain .theList li > button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: lightgray;
  font-weight: bold;
  float: right;
  font-size: 20px;
}
.lineThrough{
  text-decoration: line-through
}